* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
    background-color: rgb(68, 111, 68);
    text-align: left;
    margin: 0;
    padding: 5px;
}

.navbar {
    background-color: rgb(68, 111, 68);
    color: white !important;
    padding-top: -50px;
}

button {
background-color: rgb(68, 111, 68) !important;
color: white;
border-radius: 10px;
margin: 5px;
}

img {
    height: 300px !important;
}

